In [1]:
import pandas as pd
import pandas_datareader as web
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats.mstats import gmean

In [2]:
df = pd.DataFrame()
tickers = ['PG', 'BEI.DE']
for i in tickers:
    df[i] = web.DataReader(i, 'yahoo', '2007-01-01')['Adj Close']

In [3]:
df.head()

                   PG     BEI.DE
Date
2007-01-03  43.972332  39.869827
2007-01-04  43.638485  40.131615
2007-01-05  43.263756  39.306618
2007-01-08  43.359138  39.314541
2007-01-09  43.250122  38.426079

In [4]:
df.tail()

                    PG      BEI.DE
Date
2019-09-16  119.750000  107.900002
2019-09-17  121.160004  110.050003
2019-09-18  121.410004  109.250000
2019-09-19  121.900002  107.949997
2019-09-20  122.239998  107.599998

In [5]:
df.shape

(3202, 2)

In [6]:
logreturns = np.log(df / df.shift(1))

In [7]:
logreturns.head()

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858

In [8]:
logreturns[tickers].mean() * 250

PG        0.079852
BEI.DE    0.073825
dtype: float64

In [9]:
logreturns[tickers].std() * 250 ** .5

PG        0.173520
BEI.DE    0.215777
dtype: float64

In [12]:
logreturns[tickers].var() * 250

PG        0.030109
BEI.DE    0.046560
dtype: float64

In [21]:
logreturns.cov() * 250

              PG    BEI.DE
PG      0.030109  0.009767
BEI.DE  0.009767  0.046560

In [20]:
(logreturns.cov() * 250).iloc[0,1]

0.009766509266329283

In [22]:
logreturns.corr()

             PG   BEI.DE
PG      1.00000  0.26086
BEI.DE  0.26086  1.00000